header{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

nav li{
    padding: 8px;
    display: inline-block;
    margin: 10px;
    font-family: 'Space Mono', monospace;
    border: 2px solid rgb(48, 33, 33);
}

nav{
    padding-left: 500px;
    animation-name: spin;
    animation-duration: 2s;
}

@keyframes spin {
    0%   {transform: rotate(0deg);}	
    100%  {transform: rotate(600deg);}
}

li a:visited{
    text-decoration: none;
    color: black;
}

li a { 
    text-decoration: none;  
}

.active{
    background-color: rgb(176, 179, 223);
    text-transform: uppercase;
    text-decoration: black wavy underline;
    text-shadow: 2px 0px 0px rgb(228, 222, 222);
}

a.skip{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: -500px;
}

a.skip:focus {
    top: 20px;
    left: 0px;
  } 

#bodyLifestyle, #bodyPhotography{
    background-image: url('../images/lines.jpeg');
    background-size: auto;
}

h1{
    font-size: 30px;
    font-family: 'Space Mono', monospace;
    margin: 20px;
    text-align: center;
}

p {
    line-height: 25px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: rgb(176, 179, 223);
    padding: 10px;
}

footer p {
    margin: 5px;
    text-align: center;
}

img{
    margin: 30px;
    width: 150px;
    border: 3px dashed rgb(48, 33, 33);
    padding: 10px;
    border-radius: 8px;
}

img:hover:nth-child(2n) {
    border: 3px dashed rgb(140, 144, 207);
    opacity: 0.2;
}

.destinations{
    display: grid;
    grid-template-columns: 1;
    align-items: center;
    justify-content: center;
}

.foods{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.headshot, .logos{
    animation-name: animation;
    animation-duration: 3s;
}

@keyframes animation{
    0% {left: 20px; opacity:0;}
    100% {margin-left: auto; margin-right: auto; width: 50%; opacity:1;}
}

input[type=name], input[type=number], input[type=email],  input[type=submit] {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(140, 144, 207);
  }

label{
    display: flex;
    justify-content: center;
    font-family: 'Space Mono', monospace;
}

textarea{
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    margin: 8px 0;
    height: 50px;
}

.form{
    display: flex;
    justify-content: center;
}

.icons button{
    border: none;
    background: none;
}

@media screen and (prefers-reduced-motion: reduce){

    .headshot, .logos{
        animation-duration: 0s;
    }

    nav{
        animation-duration: 0s;
    }

}