header{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

nav li{
    padding: 8px;
    display: inline-block;
    margin: 10px;
    font-family: 'Space Mono', monospace;
    border: 2px solid rgb(48, 33, 33);
}


li a:visited{
    text-decoration: none;
    color: black;
}

li a { 
    text-decoration: none;  
}

.active{
    background-color: rgb(176, 179, 223);
    text-transform: uppercase;
    text-decoration: black wavy underline;
    text-shadow: 2px 0px 0px rgb(228, 222, 222);
}

a.skip{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: -500px;
}

a.skip:focus {
    top: 20px;
    left: 0px;
  } 

#bodyLifestyle, #bodyPhotography{
    background-image: url('../images/lines.jpeg');
    background-size: auto;
}

h1{
    font-size: 30px;
    font-family: 'Space Mono', monospace;
    margin: 20px;
    text-align: center;
}

p {
    line-height: 25px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: rgb(176, 179, 223);
    padding: 10px;
}

footer p {
    margin: 5px;
    text-align: center;
}

img{
    margin: 30px;
    width: 150px;
    border: 3px dashed rgb(48, 33, 33);
    padding: 10px;
    border-radius: 8px;
}

img:hover:nth-child(2n) {
    border: 3px dashed rgb(140, 144, 207);
    opacity: 0.2;
}

.destinations{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.foods{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.headshot, .logos{
    display: flex;
    justify-content: center;
    animation-name: spin;
    animation-duration: 3s;
}

@keyframes spin{
    0% {transform: rotate(0deg); opacity:0;}
    100% {transform: rotate(720deg); opacity:1;}
}

input[type=name], input[type=number], input[type=email]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(140, 144, 207);
  }

button[type=submit]{
    width: 70px;
    padding: 8px;
    font-family: 'Space Mono', monospace;
}

label{
    font-family: 'Space Mono', monospace;
}

textarea{
    padding: 10px 15px;
    margin: 8px 0;
    height: 50px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formIntro
{
    display: flex;
    justify-content: center;
}

.question{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Space Mono', monospace;
}

.icons a{
    border: none;
    text-decoration: none;
    color:rgb(0, 0, 0)
} 

.welcome{
    display: flex;
    justify-items: flex-start;
    font-style: italic;
    background-color: rgb(189, 192, 236);
    padding: 4px;
}

.photosText, .lifestyleText{
    background-color: rgb(252, 248, 248);
}

@media screen and (prefers-reduced-motion: reduce){

    .headshot, .logos{
        animation-duration: 0s;
    }

    html{
        scroll-behavior: auto; 
    }

    a.skip {
        -webkit-transition: initial; 
        transition: initial; 
    }

}